body {
    font-family: 'Overpass', sans-serif;
    background-color: #D0DDD7;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3 {
    font-family: 'Cormorant Infant', serif;
}

nav {
    background-color: #594E36;
}

.navbar-brand {
    font-family: 'Alegreya', serif;
    font-size: 2em;
}

#logoHeader {
    display: none;
}

.dropdown-menu {
    background-color: #7E846B;
}

.dropdown-item {
    color: white;
}

.logo {
    display: none;
}

#presentation {
    margin-top: 20px;
    padding: 5px;
    background: rgb(255, 255, 255, 0.4);
}

#presentationTitle {
    padding: 20px;
}

.card {
    margin-top: 20px;
}

.card-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width: 720px){
    nav {
        font-size: 1.3em;
    }
    
    #logoHeader {
        display: inline;
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    h2 {
        font-size: 3em;
    }
}
