html {
    padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: #D0DDD7;
}

.container-fluid{
    padding: 0;
}

/* Titles */

h1, h2, h3 {
    font-family: 'Cormorant Infant', serif;
}

/* Navigation bar*/

nav {
    background-color: #594E36;
}

.navbar-brand {
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    margin-left: 50px;
}

#logoHeader {
    display: none;
}

.dropdown-menu {
    background-color: #7E846B;
}

.dropdown-item {
    color: white;
}

.logo {
    display: none;
}

/*Articles and ads*/

article {
    background: rgb(255, 255, 255, 0.4);
}

#eventAd {
    max-height: 800px;
}

/*Cards*/

#cards {
    padding: 0 150px;
}

.card {
    border-radius: 10px;
    max-width : 500px;
}

.cardButton {
    background: #A5AE9E;
}

/*Modal window's form*/

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    margin-top: 10px;
}

#labelGender {
    margin: 0px;  
}

/*Footer*/

footer {
    background: #594E36;
    color:white;
    width: 100%;
    margin-top: 150px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}


/*large screen settings*/

@media screen and (min-width: 720px){
    nav {
        font-size: 1.3em;
    }
    
    .navbar-brand {
        font-size: 2em;
    }

    #logoHeader {
        display: inline;
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    h1{
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
   }

    #imgCard {
        height: 350px;
    }
}

